# Configuracion recomendada para Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
target/
build/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
